@page "/post/{postId}"
<div class="index">
 <div class="row pt-3">
            <div class="col-sm-1">
                <img src="images/Picture.png" class="img rounded-circle"
                     style="width: 50px; height: 50px; outline: none; cursor: pointer" @onclick="() => GoToProfile(post.Creator)" />
            </div>
            <div class="col-auto" style="margin-left:-90px;">
                <a class="mr-1" style="color: black;" href="/profile/@(post.Creator)">@(post.Creator)</a>
                <br />
                <span class="mr-1" style="color: gray">@("@" + post.Creator)</span>
            </div>
        </div>
        <div class="row m-2 mt-3">
        <h5>
           <b> @post.Title</b>
        </h5>
        </div>
        <div class="row m-2 mt-3">
            <span style="color: black; word-wrap: break-word; font-size: x-large">@(post.Content)</span>
        </div>

        <div class="row m-2 mt-3 border-bottom border-top border-secondary">
            <span class="mt-3 mb-3" style="color:gray;">@(post.CreatedDate)</span>
        </div>
</div>
@code{
    [Parameter] 
     public string postId{get; set;}
     public int id = 0;
     public string username = "";
     public PostDTO post = new PostDTO();

     protected override async Task OnInitializedAsync()
     {
        id = int.Parse(postId);
        var authState  = await _authStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        username = user.Identity.Name.ToString();
        try{
            post = await PostService.GetPost(username, id);
            StateHasChanged();
        }
        catch(Exception e){
            Console.WriteLine(e);
        }
     }
     private void GoToProfile(string username){
        navManager.NavigateTo("/profile/" + username);
    }
}