@page "/profile/{username}"
<div>
  @if (firstName.Equals("") && _username == loggedUser)
  {

    <FourOFourPR />
  }
  else if (firstName.Equals("") && _username != loggedUser)
  {
    <FourOFour />
  }
  else
  {

    <div class="profilePic">
      @if (user.ProfilePicture == null)
      {
        <img class="profile" src="images/VIA-PP.jpg" alt="profilepic">
      }
      else{
          <img class="profile" src="@_image" alt="profilepic">
      }
      <h1>@user.FirstName @user.LastName
        @if (user.Username == loggedUser)
        {
          <a href="/signup">
            <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
          </a>
        }

      </h1>
      <p>@user.Bio</p>
      @if (user.Email == null)
      {
        <p></p>
      }
      else
      {
        <p>You can contact me at @user.Email</p>
      }
      <div>
        <p>@user.Country</p>
      </div>
    </div>
    <div class="skills">
      @if (loggedUser != username)
      {
        @if (!_alreadyFollows)
        {
          <MudButton Disabled="@_processing" OnClick="FollowUser" Variant="Variant.Filled" Color="Color.Primary">
            @if (_processing)
            {
              <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
              <MudText Class="ms-2">Processing</MudText>
            }
            else
            {
              <MudText>Follow</MudText>
            }
          </MudButton>

        }
        else
        {
          <MudButton Disabled="@_processing" OnClick="UnFollowUser" Variant="Variant.Filled" Color="Color.Primary">
            @if (_processing)
            {
              <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
              <MudText Class="ms-2">Processing</MudText>
            }
            else
            {
              <MudText>UnFollow</MudText>
            }
          </MudButton>
        }

      }
      @if (loggedUser == username)
      {
        <div style="width: 100%; margin-left: 6rem;">
          <div class="lastNote">
            <h4>Last Note:</h4>
            <MudCard>
              <MudCardHeader>
                <CardHeaderContent>
                  <MudText Typo="Typo.h6">@lastNote.Title</MudText>
                </CardHeaderContent>
                <CardHeaderActions>
                  <a href="/note/@lastNote.NoteId">
                    <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
                  </a>

                </CardHeaderActions>
              </MudCardHeader>
              <MudCardContent>
                <MudText>@lastNote.Content</MudText>
                <MudText Typo="Typo.caption">@lastNote.CreatedDate</MudText>
              </MudCardContent>
            </MudCard>
          </div>
          <div class="lastPost">
            <h4>Last Post:</h4>
            <MudCard>
              <MudCardHeader>
                <CardHeaderContent>
                  <a href="/post/@lastPost.Id" style="all: unset; ">
                <MudText Typo="Typo.h6">@lastPost.Title</MudText>
                </a>
                </CardHeaderContent>
              </MudCardHeader>
              <MudCardContent>
                <MudText>@lastPost.Content</MudText>
                <MudText Typo="Typo.caption">@lastPost.CreatedDate</MudText>
              </MudCardContent>
            </MudCard>
          </div>
        </div>
      }
      else if(lastPost.Content != "")
      {
        <div class="lastPost1">
          <a href="/post/@lastPost.Id" style="text-decoration : none;"><h4>Last Post:</h4></a>
          <MudCard Style="width : auto;  ">
            <MudCardHeader>
              <CardHeaderContent>
                <a href="/post/@lastPost.Id">
                <MudText Typo="Typo.h6">@lastPost.Title</MudText>
                </a>
              </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
              <MudText>@lastPost.Content</MudText>
              <MudText Typo="Typo.caption">@lastPost.CreatedDate</MudText>
            </MudCardContent>
          </MudCard>
        </div>
      }
    </div>
  }
  @if(showAlert){
         @if (isSuccess)
            {
                <Animate Animation="Animations.FadeLeft"  Duration="TimeSpan.FromSeconds(0.6)" >
            <MudAlert Severity="Severity.Success"  class="alertProfile" Variant="Variant.Outlined">@response</MudAlert>
                </Animate>
            }
            else{
                <Animate Animation="Animations.FadeLeft"  Duration="TimeSpan.FromSeconds(0.6)" >
                <MudAlert Severity="Severity.Error" class="alertProfile" Variant="Variant.Outlined">@response</MudAlert>
                </Animate>
            }
        }
</div>

@code {
  [Parameter]
  public string username { get; set; }

  public string loggedUser, response, _image = "";
  public string firstName = "";
  public string _username = "";
  public UserDTO user = new UserDTO();
  public List<NoteDTO> notes = new List<NoteDTO>();
  public NoteDTO lastNote = new NoteDTO();
  public List<PostDTO> posts = new List<PostDTO>();
  public PostDTO lastPost = new PostDTO();
  private bool _processing, _alreadyFollows,showAlert, isSuccess = false;
  protected override async Task OnInitializedAsync()
  {
    var authState = await _authStateProvider.GetAuthenticationStateAsync();
    var loggeduserObj = authState.User;
    loggedUser = loggeduserObj.Identity.Name;
    
    try
    {
      user = await UserService.GetUserByUsername(username);
      _image = string.Format("data:image/png;base64,{0}", user.ProfilePicture);
      posts = await PostService.GetPostListFromUser(loggedUser, username);
      if(posts.Count > 0){

        lastPost = posts[^1];
      }
    }
    catch (Exception e)
    {
      Console.WriteLine(e);
      navManager.NavigateTo("/404");
    }
    firstName = user.FirstName;
    _username = user.Username;
    try
    {
      if (user.Username == loggedUser)
      {
        notes = await NoteService.GetNoteList(username);
        if(notes.Count > 0){
        lastNote = notes[^1];
        }
      }
    }
    catch (Exception e)
    {
      Console.WriteLine(e);
    }

    StateHasChanged();
  }
  private async Task FollowUser()
  {
    _processing = true;
    var result = await PostService.Follow(loggedUser, username);
     await Task.Delay(1000);
     _alreadyFollows = true;
    _processing = false;
    if(result == "BadRequestSomething went wrong with following the user!"){
      showAlert = true;
      isSuccess = false;
      await ShowAlert("You already follow this user!");
    }
    else{
      showAlert = true;
      isSuccess = true;
      await ShowAlert("You are now following this user!");
    }
    StateHasChanged();
  }
  private async Task UnFollowUser()
  {
    _processing = true;
    var result = await PostService.Unfollow(loggedUser, username);
    Console.WriteLine("Follow result = " + result);
    await Task.Delay(1000);
    _processing = false;
    StateHasChanged();
  }
  private async Task ShowAlert(string result){
        showAlert = true;
        response = result;
        await Task.Delay(2000);
        showAlert = false;
        response = "";
    }
}