@page "/chat/{chatId}"
<section class="index">
   
<div class="d-flex flex-grow-1 flex-row chatContainer">
    <MudPaper Elevation = "25"  Class = "py-16 flex-grow-1 static">
        <MudToolBar Class="static" style="margin-top: -68px;">
            
            @if (id == 0)
            {
               <MudIcon Icon="@Icons.Material.Outlined.Person"  class="chatIcon"></MudIcon> <MudText  Typo="Typo.h6">chat</MudText>
              
            }
            else
            {
                <MudIcon Icon="@Icons.Material.Outlined.ChatBubble"  class="chatIcon"></MudIcon>
                <MudText  Typo="Typo.h6">Chat with @chat.ChatName</MudText>
            }
            @if (chat.Username == username)
               {
                     <MudButton Variant="Variant.Filled" style="display: absolute; left:10px;" Color="Color.Primary" OnClick="@ToggleOpen">
		             @(_isOpen? "Close" : "Manage")
	                 </MudButton>
                <MudPopover Open="@_isOpen" Fixed="true" Class="px-1 pt-1" AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.BottomLeft">
			  <MudTextField T="string" Placeholder="Enter a user..."DisableUnderLine="true" Class="mt-n2 mx-4"
                     @bind-Value="usernameToAdd" For="@(()=> usernameToAdd)" />
                      <MudButton OnClick="addUser" StartIcon="@Icons.Filled.Add" Color="Color.Secondary" Style="color:{Colors.Pink.Lighten2}" ButtonType="ButtonType.Button">Add</MudButton>
                           <MudDivider />
                     <MudTextField T="string" Placeholder="Enter a user..."DisableUnderLine="true" Class="mt-n2 mx-4"
                      @bind-Value="usernameToDelete" For="@(()=> usernameToDelete)" />
                        <MudButton OnClick="deleteUser" StartIcon="@Icons.Filled.HorizontalRule" Color="Color.Secondary" Style="color:{Colors.Pink.Lighten2}" ButtonType="ButtonType.Button">Delete</MudButton>
                    </MudPopover>
             }
        </MudToolBar>
        <div class="d-flex flex-column px-4" style="max-height:65vh;min-height:65vh;  overflow:scroll;" id="chatContainer">
            @foreach (var message in messages)
            {
                @if (message.Username != @username)
                {
                  <div class="d-flex flex-row my-4" >
                    <div class="mr-4">
                        <MudAvatar Class="static" Color="Color.Secondary" Style="height:50px; width:50px;">@message.Username.ToUpper().FirstOrDefault()</MudAvatar>
                    </div>
                    <div>
                        <MudText Typo="Typo.body1">@message.Username</MudText>
                        <MudText Typo="Typo.caption" Style="font-size: xx-small!important;">@message.CreatedDate.ToString("dd MMM, yyyy hh:mm tt")</MudText>
                        <MudText Typo="Typo.body2" Style=" padding: 15px;background-color: var(--mud-palette-background-grey);border-radius: 5px;margin-top:5px">@message.Content</MudText>
                    </div>
                </div>  
                }
                else
                {
                    <div class="d-flex flex-row-reverse my-4">
                        <div class="ml-4">
                            <MudAvatar Color="Color.Primary" Style="height:50px; width:50px;">@message.Username.ToUpper().FirstOrDefault()</MudAvatar>
                        </div>
                        <div>
                            <MudText Typo="Typo.body1">@message.Username</MudText>
                            <MudText Typo="Typo.caption" Style="font-size: xx-small!important;">@message.CreatedDate.ToString("dd MMM, yyyy hh:mm tt")</MudText>
                            <MudText Typo="Typo.body2" Style=" padding: 15px;background-color: var(--mud-palette-background-grey);border-radius: 5px;margin-top:5px">@message.Content</MudText>
                        </div>
                    </div>
                }
                
            }
        </div>
        <MudPaper Elevation="25" Class="d-flex flex-row px-2 mx-4 static" Style="margin-top: 50px;">
            <MudTextField Style="display : static;" Class="mt-n2 mx-4 static" T="string" Placeholder="Enter your message here..." DisableUnderLine="true" 
                @bind-Value="CurrentMessage" For="@(()=> CurrentMessage)" />
                <MudButton Class="static" OnClick="SubmitAsync" StartIcon="@Icons.Material.Outlined.Send" Color="Color.Secondary" Style="color:{Colors.Pink.Lighten2}" ButtonType="ButtonType.Button">Send</MudButton>
        </MudPaper>
    </MudPaper>
    <MudPaper Elevation="25" Class="pa-3 ml-6" MinWidth="350px">
            <MudToolBar Dense="true">
                <MudText Typo="Typo.h6" Inline="true" Class="mr-2">#</MudText>
                <MudText Typo="Typo.h6">Chats</MudText>
                 <MudButton Style="float:right; margin-left:5px;" OnClick="ToCreateChat">Create Chat</MudButton>
                 @if (chat.Username== username)
                 {
                    <MudButton Style="float:right; margin-left:5px;" OnClick="DeleteChat">Delete Chat</MudButton>
                 } 
            </MudToolBar>
            <div class="d-flex flex-column px-4" style="max-height:70vh;min-height:70vh; overflow:scroll;">
                <MudList Clickable="true">
                    @foreach (var chat in chats)
                    {    
                        <MudListItem Style="margin-top : 10px;" Class="pa-0 px-2" @onclick="() => GoToChat(chat.Id.ToString())">
                            <div class="d-flex flex-row mt-n1 mb-n1">
                                <div class="mr-4">
                                     <MudAvatar Color="Color.Secondary" Style="height:50px; width:50px;">@chat.ChatName.ToUpper().FirstOrDefault()</MudAvatar>
                                     <MudText Style="float: right; margin-left: 20px; margin-top : 15px;" Typo="Typo.body1" >@chat.ChatName</MudText>
                                </div>
                            </div>
                        </MudListItem>
                    }
                </MudList>
            </div>
        </MudPaper>
        
        
</div>
        @if(showAlert){
         @if (isSuccess)
            {
                <Animate Animation="Animations.FadeLeft"  Duration="TimeSpan.FromSeconds(0.6)" >
            <MudAlert Severity="Severity.Success"  style="float: right; padding: 10px;" Variant="Variant.Outlined">@response</MudAlert>
                </Animate>
            }
            else{
                <Animate Animation="Animations.FadeLeft"  Duration="TimeSpan.FromSeconds(0.6)" >
                <MudAlert Severity="Severity.Error"  style="float: right; padding: 10px;" Variant="Variant.Outlined">@response</MudAlert>
                </Animate>
            }
        }
</section>

@code{
     [Parameter] 
     public string chatId{get; set;}
     public int id = 0;
    [Parameter] 
    public string CurrentMessage { get; set; }
    private ChatDTO chat = new ChatDTO();
    private List<ChatDTO> chats = new List<ChatDTO>();
    private List<MessageDTO> messages = new List<MessageDTO>();
    private string username = "";
    public bool _isOpen, showAlert, isSuccess = false;
    private string usernameToAdd, usernameToDelete, result, response = "";
    private string sampleText = "Type your message here";
    

	public void ToggleOpen()
	{
		if (_isOpen)
			_isOpen = false;
		else
			_isOpen = true;
	}
    protected override async Task OnInitializedAsync()
    {
        id = int.Parse(chatId);
        var authState  = await _authStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        username = user.Identity.Name.ToString();
        try{
        chat = await ChatService.GetChat(username,id);
        chats = await ChatService.GetChatList(user.Identity.Name);
        messages = await ChatService.GetMessages(username,id);
        StateHasChanged();
        }catch(Exception e){
            Console.WriteLine(e);

        }
        
        
    }

    private async void SubmitAsync()
    {
        response = await ChatService.SendMessage(username, id, CurrentMessage);
        if(response == "OKMessage sent!"){
            CurrentMessage = "";
            messages = await ChatService.GetMessages(username,id);
            StateHasChanged();
        }
        
    }
    private async Task addUser(){
        id = int.Parse(chatId);
        try{
            var answer = await ChatService.AddUsers(username,usernameToAdd, id);
            usernameToAdd = "";
            if(answer.ToString() == "BadRequestSomething went wrong!"){
                showAlert = true;
                isSuccess = false;
                ShowAlert("Something went wrong ");
            }
            else{
                showAlert = true;
                isSuccess = true;
                ShowAlert("User added successfully");
            }
        }
        catch(Exception e){
            Console.WriteLine(e);
            isSuccess = false;
            ShowAlert("Something went wrong with the system");
        }
        
    }
    private async Task deleteUser(){
        id = int.Parse(chatId);
        try{
            var answer = await ChatService.RemoveUsers(username,usernameToDelete, id);
            usernameToDelete = "";
            if(answer.ToString() == "BadRequestSomething went wrong!"){
                showAlert = true;
                isSuccess = false;
                ShowAlert("Something went wrong");

            }else{
                showAlert = true;
                isSuccess = true;
                ShowAlert("User deleted successfully");
            }
        }
        catch(Exception e){
            Console.WriteLine(e);
            isSuccess = false;
            ShowAlert("Something went wrong");
        }   
    }
    private async Task ShowAlert(string result){
        showAlert = true;
        response = result;
        await Task.Delay(2000);
        showAlert = false;
        response = "";
    }
    private void hide(){

        sampleText = "";
    }
    private void ToCreateChat(){
        navManager.NavigateTo("/createchat");
    }
    private void GoToChat(string id ){
        navManager.NavigateTo("/chat/" + id);
        StateHasChanged();
    }
    private async Task DeleteChat(){
        id = int.Parse(chatId);
        try{
            response = await ChatService.DeleteChat(username, id);
            if(response.ToString() == "BadRequestSomething went wrong!"){
                showAlert = true;
                isSuccess = false;
                ShowAlert("Something went wrong with deleting the chat");

            }else{
                showAlert = true;
                isSuccess = true;
                ShowAlert("Chat deleted successfully");
                navManager.NavigateTo("/chats");
            }
        }
        catch(Exception e){
            Console.WriteLine(e);
            isSuccess = false;
            ShowAlert("Something went wrong with the system");
        }   
    }
}