@page "/search"
<section class="index">
    

    <div class="no-notes" >
        <h2><b>Contacts</b></h2>
    <hr/>
        <EditForm Model = "@filter" OnSubmit="FilterByUser">
                <InputText type="text" class="col-12 form-control dark-theme-textbox"  style="width : 300px;" @bind-Value="filter" @onsubmit="FilterByUser" placeholder="search"/>
        <MudButton OnClick="ClearList" Style="float:right; margin-top: -35px; margin-right: -75px;">Clear</MudButton>
        
        </EditForm>
        </div>
        @if (filter != null)
         {
            @foreach (var user in toShow)
            {
                <div>
                    <a href = "/profile/@user.Username" class="list-group-item ">
                        @if (@user.FirstName != null)
                        {
                            @user.FirstName <span> </span> @user.LastName <span> / </span> @user.Username
                        }
                        else
                        {
                            @user.Username
                        }
                    </a>
                    
                </div>
            }   
    }
    else{
        <div style="height: 50px">
                <p>Loading...</p>
            </div>
    }
    
    <br/>

    
</section>

@code{
    private List<UserDTO> allUsers = new List<UserDTO>();
    private List<UserDTO> toShow = new List<UserDTO>();
    private string filter = "";
    protected override async Task OnInitializedAsync()
    {
        allUsers = await UserService.GetUsers();
        
    }
    private void FilterByUser(){
        if(filter != null){
            toShow = allUsers.Where(x => x.Username.Contains(filter)).ToList();
            StateHasChanged();
        }
        else if (filter.Equals("")){
            allUsers.Clear();
            toShow.Clear();
            StateHasChanged();
        }
    }
    private void ClearList(){
        toShow.Clear();
        StateHasChanged();
    }
     private void FilterByUsername(ChangeEventArgs args)
    {
        string filterByUsername = args.Value.ToString();
        Console.WriteLine("Filter: " + filterByUsername + "Args: " + args.Value.ToString());
        StateHasChanged();
        if (args.Value.ToString() != null)
        {
            toShow = allUsers.Where(t => t.Username.Contains(filterByUsername)).ToList();
            StateHasChanged();
            
        }
        else if(args.Value.ToString() == ""){
            allUsers.Clear();
            toShow.Clear();
            StateHasChanged();
        }
    }
}